.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.inputFields {
	padding: 15px;
	margin-right: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.addButton {
	padding: 15px;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

.addButton:hover {
	background-color: #0056b3;
}

.messageContainer {
	margin: 0 auto;
	max-width: 270px;
}

.todoItem {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 10px 15px;
	margin-bottom: 10px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.deleteButton {
	color: rgb(0, 0, 0);
	cursor: pointer;
}
